--
-- PostgreSQL database dump
--

\restrict y9qsLlQu43p8EzrviTPFl1dnYf33T735M73ncklONcdoRPuqLbp4yeGbMinuQqU

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: doc_chunks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.doc_chunks (
    id uuid NOT NULL,
    text text NOT NULL,
    source_url text,
    heading text,
    doc_version text,
    product_area text,
    has_code boolean,
    embedding public.vector(512),
    fts_vector tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, text)) STORED,
    indexed_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.doc_chunks OWNER TO postgres;

--
-- Data for Name: doc_chunks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: doc_chunks doc_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doc_chunks
    ADD CONSTRAINT doc_chunks_pkey PRIMARY KEY (id);


--
-- Name: doc_chunks_embedding_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX doc_chunks_embedding_idx ON public.doc_chunks USING hnsw (embedding public.vector_cosine_ops);


--
-- Name: doc_chunks_fts_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX doc_chunks_fts_idx ON public.doc_chunks USING gin (fts_vector);


--
-- PostgreSQL database dump complete
--

\unrestrict y9qsLlQu43p8EzrviTPFl1dnYf33T735M73ncklONcdoRPuqLbp4yeGbMinuQqU

